**/__pycache__
*,cover
*.log
*.pyc
*.pyd
*.pyo
.Python
.cache
.coverage
.coverage.*
.git
.github
.tox
Dockerfile
coverage.xml
docs
env
nosetests.xml
pip-delete-this-directory.txt
pip-log.txt
scripts
tests
venv/
