# See for details: https://help.github.com/en/articles/about-code-owners

# Default code owners
* @danieljanes @tanertopal @r-marques

## CI config
/.circleci/ @r-marques @tanertopal

## Protobufs
/protobuf/ @r-marques

## Python packages
/xain/datasets/ @tanertopal
/xain/fl/ @danieljanes
/xain/grpc/ @r-marques
/xain/helpers/ @danieljanes @tanertopal
/xain/ops/ @tanertopal
/xain/types/ @danieljanes @tanertopal

## Benchmarks
/benchmarks/benchmark/ @danieljanes @tanertopal
/benchmarks/generator/ @tanertopal

## Rust packages
/rust/ @r-marques @skade @stjepang @matklad @spacejam

## Scripts
/scripts/ @tanertopal
