# See for details: https://help.github.com/en/articles/about-code-owners

# Default code owners
* @danieljanes @tanertopal @r-marques

## CI config
/.circleci/ @r-marques @tanertopal

## Benchmarks
/benchmarks/benchmark/ @danieljanes @tanertopal
/benchmarks/generator/ @tanertopal
/benchmarks/ops/ @tanertopal

## Protobufs
/protobuf/ @r-marques

## Scripts
/scripts/ @tanertopal @danieljanes

## Python packages
/xain_fl/datasets/ @tanertopal
/xain_fl/fl/ @danieljanes
/xain_fl/grpc/ @r-marques @finiteprods
/xain_fl/helpers/ @danieljanes @tanertopal
/xain_fl/types/ @danieljanes @tanertopal
