name: Dockerfiles linting

on:
  push:
    paths:
      - 'docker/Dockerfile**'

jobs:
  lint:
    name: Dockerfiles linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Lint file
        run: docker run -v $GITHUB_WORKSPACE/docker/Dockerfile:/Dockerfile replicated/dockerfilelint /Dockerfile
